<div class="alert alert-info">
  <p class="mb-0">
    To find your <strong>Key</strong> and <strong>Key Secret</strong>, go to the 
    <%= external_link_to 'Razorpay dashboard', 'https://dashboard.razorpay.com/app/website-app-settings/api-keys', class: 'alert-link' %><br><%= external_link_to 'Create Webhook', 'https://dashboard.razorpay.com/app/website-app-settings/webhooks', class: 'alert-link' %> and mark all checkboxes in <strong>Active Events.</strong>
  </p>
</div>
